.mobile-screen {

	    width: 375px; /* Adjust the width to match the desired mobile screen size */
    height: 667px; /* Adjust the height to match the desired mobile screen size */
 background-image: url("C:/Users/DELL/OneDrive/Documents/weddinginvitre/images/download (1).jpeg"); /* Add the URL or path to your background image */

    background-size: cover;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.element {
    text-align: center;
    color: #9b0c72;
    max-width: 80%;
    padding: 25px 60px 40px 35px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 3s, transform 7s;
    margin-top: 60px;
    font-family: 'Tangerine', serif;
    font-size:  16.6px;
    text-shadow: 4px 4px 4px #d4d508;
}

.element.show {
    opacity: 1;
    transform: translateY(0);
}


